name: Clicky CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          python3-gi \
          python3-gi-cairo \
          gir1.2-gtk-3.0 \
          gir1.2-gsound-1.0 \
          libgirepository1.0-dev \
          libcairo2-dev \
          libglib2.0-dev
        pip install flake8

    - name: Run Linter
      run: |
        # Stop the build if there are Python syntax errors or undefined names
        flake8 usr/lib/clicky --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 usr/lib/clicky --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Run Tests
      run: |
        # Set PYTHONPATH to include the app source
        export PYTHONPATH=$PYTHONPATH:$(pwd)/usr/lib/clicky
        python3 tests/test_basic.py
